*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #D1D6EF;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.studentimg {
  width: 150px;
}

.studentLogo {
  background-color: rgb(159, 159, 247);
  width: 700px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 50px;
  border-radius: 20px;
  text-align: center;

  a {
    width: 100%;
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-weight: 700;
  }
}

.studentText {
  margin: 10px auto;
  width: 1280px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  >a {
    width: 250px;
    padding: 10px;
    background-color: white;
    border: 2px solid #838DCE;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    text-decoration: none;
    color: black;

    img {
      width: 65px;
    }
  }

  >a:hover {
    background: #838DCE;
  }
}


.student {
  padding: 50px;
  width: 1280px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  list-style-type: none;
  margin: 0 auto;
}

.student li {
  width: 300px;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  background-color: #FDFDFD;
}

.attendancebtn {
  button {
    display: flex;
    justify-content: center;
    padding: 10px;
    background: white;
    border-radius: 20px;
    border: none;
    margin: 0 auto;
    cursor: pointer;
  }
}

.studentConclusion {
  background-color: #FDFDFD;
  border-radius: 10px;
  padding: 20px;
  width: 500px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  border: 2px solid darkblue;
  margin-bottom: 20px;
}

.studentList {
  padding: 50px;
  width: 1280px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  list-style-type: none;
  margin: 0 auto;
}

.studentList li {
  width: 300px;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FDFDFD;
  font-weight: 900;

  span {
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
  }
}

input[type="checkbox"] {
  cursor: pointer;
  accent-color: lightgreen;
  width: 20px;
}